RewriteEngine On

# Don't rewrite if the requested file or directory exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# If no matching file or directory is found, load index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
