:root{
    --brand-primary :  #4640DE;
    --brand-secondary : #CCCCF5;
    --brand-tertiary : #E9EBFD;
    --color-text : #202430;
    --color-white : #FFFFFF;
    --neutral-10 : #F8F8FD;
    --neutral-20 : #D6DDEB;
    --neutral-40 :#A8ADB7;
    --netral-60 : #7C8493;
    --neutral-80 : #515B6F;
    --neutral-100 : #25324B;
    --color-red : #E85959;
}