/* CSS LIBRARY */

/* VARIABLES */
@import url("variables.css");

/* COMPONENTS */
@import url('components/form_styles.css');
@import url('components/buttons_styles.css');
@import url('components/admin_sidebar.css');

/* PAGES */
@import url('pages/signup_page.css');
@import url('pages/admin_announcement.css');
@import url('pages/admin_settings.css');

/* HOME */
@import url('home/signup.css');

/* FONTS */
@font-face {
    font-family: "Monteserrat-Regular";
    src: url("fonts/Montserrat-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Monteserrat-Regular";
}

/* BUTTON STYLES */
.btn {
    border: none;
    padding: 12px;
    color: var(--color-white);
}
.btn-accent {
    background-color: var(--brand-primary);
}

.btn-disabled {
    background-color: var(--neutral-80);
}

.btn-del {
    background-color: var(--color-red);
}

.btn-trans {
    background-color: var(--color-white);
    color: var(--brand-primary);
    font-weight: bold;
    border: 2px solid var(--brand-primary);
}

/* INPUT STYLES */

input[type="text"]{
    border: 1px solid var(--neutral-20);
    padding: 8px 12px;
    transition: all 0.3s ease;
}

input[type="password"]{
    border: 1px solid var(--neutral-20);
    padding: 8px 12px;
    transition: all 0.3s ease;
}

input:focus {
    border-color: var(--brand-primary);
    outline: none;
    background-color: var(--neutral-10);
}

input[type="radio"] {
    margin: 8px;
    accent-color: var(--brand-primary);
    transform: scale(1.5);
}

input[type="checkbox"] {
    margin: 8px;
    accent-color: var(--brand-primary);
    transform: scale(1.5);
}

/* CONTAINER STYLES */
.container {
    padding: 20px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

/* DIV STYLES */
.div-shadow {
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 200px;
    width: 200px;
    align-items: center;
}

.border-box {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border: 1px solid #b3b7be;
}

