.wrapper {
    position: relative;
    width: 100%;
}

.main-content {
    height: 100vh; 
    width: 100%;
    padding: 20px;
    margin-left: 300px;
}

.ad-form {
    justify-content: center;
}

.create-ad-form {
    width: 100%;
    padding: 30px;
}

.create-ad-form form {
    gap: 100px;
}

.field {
    margin: 15px 0;
    width: 100%;
}

.create-ad-form input[type="text"],
.create-ad-form input[type="url"],
.create-ad-form input[type="number"],
.create-ad-form input[type="email"],
.create-ad-form textarea,
.update-ad-form input[type="text"],
.update-ad-form input[type="url"],
.update-ad-form input[type="number"],
.update-ad-form textarea,
.create-ad-form input[type="date"] {
    width: 100%;
    max-width: 410px;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #d6ddeb;
    border-radius: 4px;
}

.create-ad-form input[type="date"] {
    width: 200px;
}

.radio-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 15px 0;
}

.custom-file-input {
    display: block;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

#imagePreview {
    width: 100%;
    max-width: 300px;
    margin: 15px 0;
}

#preview {
    max-width: 100%;
    height: auto;
}

.ad-card {
    width: 100%;
    max-width: 700px;
    min-height: 160px;
    margin: 15px auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid #D6DDEB;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.ad-card:hover {
    transform: translateY(-5px);
}

.ad-card .ad-details {
    flex: 1;
    min-width: 250px;
}

.adv-title {
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
    color: var(--Neutrals-80);
}

.header {
    margin-top: 20px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.header h3 {
    color: var(--Neutrals-100, #25324B);
    font-family: Epilogue;
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
}

.header button {
    height: 50px;
    font-size: 16px;
    color: var(--Neutrals-80);
}

.ads-wrapper {
    justify-content: center;
}


