
* {
  box-sizing: border-box;
}
.main-content{
  margin: auto;
  flex-grow: 1;
  align-self: flex-start;
  margin-left: 300px;
}
.wrapper{
  margin-top: 60px;
}
.header {
    justify-content: space-between; 
    margin-bottom: 10px;   
}

.greeting > h3 {
  color: var(--Neutrals-100, #25324B);
  font-family: Akatab;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.greeting p{
  color: var(--Neutrals-60, #7C8493);
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.overview {
  margin: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  width: 200px;
  color: var(--color-white);
  padding: 20px 15px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6;
}

.chart-overview {
  border: 1px solid var(--neutral-60);
  height: 350px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chart-overview canvas {
  flex: 1 1 60%;
  max-width: 700px;
}

.chart-overview h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .overview {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 100%;
    max-width: 300px;
  }

  .chart-overview {
    flex-direction: column;
    align-items: center;
  }

  .chart-overview canvas {
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .overview {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 100%;
    max-width: 300px;
  }

  .chart-overview {
    flex-direction: column;
    align-items: center;
  }

  .chart-overview canvas {
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
  }
}

.messages{
  width : 30%;
}

.email{
  margin-left: auto;
  align-self: flex-end;
}


  .count{
    gap: 50px;
  }

.views , .clicks{
  display: flex;
  justify-content: center;
  width: 150px;
  height: 100px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  border: 1px solid var(--Lights-Border, #D6DDEB);
  background: var(--Neutrals-0, #FFF);
}

.title{
  color: var(--Neutrals-100, #25324B);
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
.number{
  color: var(--Neutrals-100, #25324B);
  text-align: center;
  font-feature-settings: 'cv11' on;
  font-family: Epilogue;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.grey-text{
  color: var(--Neutrals-60, #7C8493);
  text-align: center;
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}


.requests {
  height: 300px;
  gap: 10px;
  overflow-y: auto;
  padding: 10px;
}

.request {
  display: flex;
  align-items: center;
  padding: 2px; 
  margin: 10px auto; 

}

.request img {
  border-radius: 50%;
  background-color: var(--brand-lavender); 
  height: 50px;
  width: 50px;
  margin-right: 10px; 
}

.request .name {
  font-size: 16px; 
  font-weight: 500;
  color: #333; 
  margin: 0; 
}


