* {
    box-sizing: border-box;
  }
.wrapper {
    margin-top: 80px;
}

.main-content {
    margin-left: 300px;
    width: 100%;
}


.header{
    margin: 20px 20px;
    padding: 10px;
  }

.header h2{
    color: var(--Neutrals-100, #25324B);
    font-family: Epilogue;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }

.main-content hr {
    width: 100%;
    margin: 16px 0;
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--brand-lavender);
    object-fit: cover;
}

.profile-form {
    margin: 20px 0;
    width: 100%;
}

.input-group button {
    margin: 10px 0;
    padding: 8px 16px;
}

.input-group input[type="email"],
.input-group input[type="password"] {
    width: 200px;
    padding: 8px 16px;
}

.user-info p{
    font-size: 16px;
    font-weight: 400;
}
