.wrapper {
  margin-top: 100px;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.main-content {
  margin-left: 300px;
  flex: 1;
}

#report-content {
  padding: 20px;
  margin-left: 20px;
  flex: 1;
}

.print-header, .print-footer {
  display: none;
}

@media print {
  body * {
    visibility: hidden;
  } /* see if this creates any mess in other styling */

  #print-area, #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: aqua;
  }

  .print-header, .print-footer {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #999;
    font-style: italic;
  }

  .print-header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content:space-between;
    gap: 400px;
  }

  .print-header h3 {
    color: var(--Neutrals-100, #25324B);
    font-family: Epilogue;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }

  .print-headder img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--brand-lavender);
    object-fit: cover;
  }
  .print-footer {
    position: fixed;
    bottom: 20px;
  }

  @page {
    margin: 60px 30px;
  }
}
