body {
    font-family: Arial, sans-serif;
    margin: 0;
}


/* Make icons and labels white when sidebar item is active */
.sidebar-item.active .sidebar-icon,
.sidebar-item.active .sidebar-label {
    color: white;
}

/* to style active sidebar */
.sidebar-item.active {
    background-color: #6c79f4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-container {
    width: 224px;
    height: 85%; /* Full height of the viewport */
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    overflow-y: auto; /* Enable scrolling for long content */
    z-index: 10; /* Ensure it stays above other content */
    transition: transform 0.3s ease-in-out; /* Smooth transition for toggling */
}

.sidebar-items-container{
    margin-top: 0px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.sidebar-item:hover {
    background-color: #b3bbff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-item:hover .sidebar-icon,
.sidebar-item:hover .sidebar-label {
    color: #4640DE;
}

.sidebar-icon {
    font-size: 18px;
    margin-right: 15px;
    color: #333;
}

.sidebar-label {
    font-size: 18px;
    font-weight: 600;
    color: #867c93;
}

@media (max-width: 768px) {
    .sidebar-container {
        width: 25%; /* Full width for smaller screens */
        height: auto; /* Adjust height */
        position: relative; /* Allow it to flow with the page */
    }

    .sidebar-item {
        justify-content: center; /* Center items for smaller screens */
    }
}

.sidebar-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge: hide scrollbar */
}